<%- include('partials/header') %>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="publishTitle">
        <label for="exampleFormControlTextarea1">Post</label>
        <textarea class="form-control space" id="exampleFormControlTextarea1" rows="3" type="text" name="publishPost"></textarea>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
      </div>
</form>
<%- include('partials/footer') %>