<%- include('partials/header') %>
<% const Title = objArrElement.title %>
<h1><%= Title.charAt(0).toUpperCase() + Title.slice(1) %></h1>
<p><%= objArrElement.content %></p>
<%- include('partials/footer') %>